.row {
	padding-top: 150px;
	background-color: #708090;

}

.description {
	display :flex;
	margin-bottom:50px;
	color:#000000;
}

.formulaires {
	margin-top : 150px;
	
 }

.form-check-input {
	width :30px;
	height: 30px;
}

.faq {
	margin-top : 150px;
}

.order-container {
	padding-top: 200px
}

.registration {
	padding-top:200px;
	background-color:  #708090;
}
	
