{% extends "base.html.twig" %}
{% block body %}
  <div class="container">

    <div class="row">

   	  <div class="col-sm">
    	    <img  src="{{ asset('images/accueil.jpg') }}"  alt="baskets"  height="450" width="450" class="rounded-circle"/>
          <br>
          <br>
           <a href="/product/carrousel"> <h5>Nos dernières nouveautés </h5></a>
      </div>

      <div class="col-sm">
          <h4 class="display-1">Bienvenue à tous les petits pieds ! </h4>
            <br>
           		<h3 class="display-7"> Little Shoes vous propose des modèles confortables et originaux.<br>
			         Tous nos produits sont fabriqués en France avec des matières de qualité : cuir, daim,etc.<br>
           		 Les petites pointures pour hommes, femmes et bébés sont notre spécialité !</h3><br>
		  </div>

    </div> 
     
  </div>

{% endblock %}

