{% extends "base.html.twig" %}
{% block body %}
<div class="container-fluid" style="margin-top:150px;"><h3 class="text-primary">Conditions Générales de Vente</h3></div>
 	<div class="Conditions">
<p>
Les présentes Conditions Générales de Vente (ci-après désignées « les CGV ») s'appliquent, sans restriction ni réserve, à l'ensemble des ventes conclues par la société LITTLE SHOES EURL inscrite au RCS de Nantes sous le numéro 529 129 604, dont le siège société est situé 50 bd Einstein 44300 NANTES (ci-après désigné par « Le Vendeur ») auprès de consommateurs et acheteurs non professionnels (« ci-après désigné « le Client »), désirant acquérir les produits proposés à la vente par le Vendeur (ci-après « les Produits ») sur le site « LittleShoes.fr » (ci-après « le Site »).</p>

<p>
Les Produits sont des chaussures en petites et grandes tailles pour homme, femme et bébé.
Les CGV précisent notamment les conditions d'achat, de passation de commande, de paiement, et de remise ou de livraison des Produits commandés par les Clients sur le Site.</p>

<h4>Préambule – Informations précontractuelles - Acceptation du Client</h4>
Le fait pour toute personne physique ou morale, de commander sur le Site emporte adhésion et acceptation pleine et entière des CGV et obligation au paiement des Produits commandés, ce qui est expressément reconnu par le Client. Les CGV et la commande forment ensemble le contrat qui lie le Client et le Vendeur (ci-après « le Contrat »).
Les caractéristiques principales des Produits et notamment les spécifications, illustrations et indications de taille des Produits, sont présentées sur le Site. Les photographie sont le plus fidèles possibles mais leur rendu dépend des outils informatiques utilisés par le Client. Le Client est tenu de se reporter au descriptif de chaque Produit afin d'en connaître les propriétés et les particularités essentielles.
Les CGV s'appliquent à l'exclusion de toutes autres conditions. Elles sont systématiquement communiquées à tout Client préalablement à l'achat et prévaudront, le cas échéant, sur toute autre version ou tout autre document contradictoire.
Les CGV pouvant faire l'objet de modifications, la version applicable à l'achat du Client est celle en vigueur à la date de passation de la commande.<br>


<h4>1. La commande</h4>
Afin de pouvoir commander des Produits, le Client doit suivre les étapes suivantes :
<p>Procéder à la création d’un compte Client sur le Site en indiquant son identité, son email, un mot de passe et sa date de naissance. Une confirmation lui est alors envoyée par email, à l’adresse renseignée par lui. Dans l’hypothèse où le Client dispose déjà d’un compte, il lui suffit de s’identifier en indiquant son adresse mail et son mot de passe afin de se connecter ;</p>
<p>
- Sélectionner un Produit et la pointure souhaitée et l’ajouter au panier ;<br>
- Renouveler l’opération pour tout autre Produit qu’il souhaite commander ;<br>
- Indiquer l’adresse de livraison des Produits ;<br>
- Indiquer une adresse de facturation des Produits ;<br>
- Vérifier les termes de la page récapitulative de la commande indiquant le détail de la Commande et son prix total (prix des Produits + frais de transport) ;<br>
- Prendre connaissance des CGV et les accepter ;<br>
- Eventuellement, revenir aux pages précédentes, corriger des erreurs et/ou modifier sa commande et les données fournies ;<br>
- Valider définitivement la commande ;<br>
- Procéder au paiement.</p>
<p>La commande est validée et définitive lorsque l’intégralité du prix est encaissée par le Vendeur.
Les informations énoncées par le Client, lors de la prise de commande engagent celui-ci. Le Vendeur ne saurait être tenu responsable en cas d'erreur dans le libellé des coordonnées du Client, ou de tout autre élément.<br>
Les offres de Produit sont valables dans la limite des stocks disponibles.
Le Client est informé qu’en cas d’inactivité prolongée lors de la connexion, il est possible que sa sélection pour passer commande sur le Site ne soit plus garantie. Dans cette hypothèse, le Client devra recommencer les étapes de la commande depuis le début.
Le Client est informé qu’il conserve à sa charge tous les frais de télécommunication lui permettant d’accéder à Internet et notamment au Site.<br> 
</p>


<h4>2. Livraison</h4>
<p>Les Produits sont proposés à la vente en France métropolitaine. <br>

Tarifs livraison<br>
Les délais de livraison comprennent le délai de traitement de la commande par le Vendeur et le délai d'acheminement à l'adresse indiquée par le Client lors de sa commande sur le Site.
La livraison est constituée par la remise directe du Produit au destinataire désigné par le Client, soit en cas d'absence, par avis de mise à disposition.
Sauf cas particulier ou indisponibilité d'un ou plusieurs Produits, les Produits commandés seront livrés en une seule fois. Le Vendeur s'engage à faire ses meilleurs efforts pour livrer les Produits commandés dans les délais ci-dessus précisés. Toutefois, si les Produits commandés n'ont pas été livrés dans un délai de 30 jours après la date indicative de livraison, pour toute autre cause que la force majeure ou le fait du Client, la vente pourra être résolue à la demande écrite du Client dans les conditions prévues aux articles L 216-2 L 216-3 L241-4 du Code de la consommation. Les sommes versées par le Client lui seront alors restituées au plus tard dans les quatorze jours qui suivent la date de dénonciation du contrat, à l'exclusion de toute indemnisation ou retenue. Si le colis dépasse le poids et les dimensions maximum autorisés par la Poste, il sera expédié par un transporteur du choix du Vendeur.
Le transfert de propriété des Produits au profit du Client, ne sera réalisé qu'après complet encaissement du prix par le Vendeur, et ce quelle que soit la date de livraison des Produits.
Quelle que soit la date du transfert de propriété des Produits, le transfert des risques de perte et de détérioration s'y rapportant, sera réalisé au moment où le Client prendra physiquement possession des Produits. En revanche, dans l’hypothèse où le Client confierait la livraison du Produit à un transporteur autre que celui proposé par le Vendeur, les risques sont transférés au Client dès la remise des Produits audit transporteur.
Le Client est tenu de vérifier l'état des Produits livrés. Il dispose d'un délai de 48 heures à compter de la livraison pour formuler par écrit (courrier postal ou courrier électronique à contact@littleshoes.fr) toutes réserves ou réclamations (par exemple colis endommagé déjà ouvert ...), avec tous les justificatifs y afférents (photos notamment). Passé ce délai et à défaut d'avoir respecté ces formalités, les Produits seront réputés exempts de tout vice apparent et aucune réclamation ne pourra être valablement acceptée par le Vendeur.
Le Vendeur remboursera ou remplacera dans les plus brefs délais et à ses frais, les Produits livrés dont les défauts de conformité ou les vices apparents ou cachés auront été dûment prouvés par le Client, dans les conditions prévues aux articles L 217-4 et suivants du Code de la consommation et celles prévues aux CGV (voir garanties, notamment).

Les dispositions du présent article ne privent en aucun cas le Client consommateur de faire jouer les garanties légales dues par le Vendeur.<br></p>


<h4>3. Prix et coûts de transport</h4>
<p>Les prix des Produits sont ceux qui figurent sur le Site au jour de l’achat.
Les prix sont exprimés en Euros, TTC.
Ils sont fermes et définitifs, sauf pour des quantités particulières pour lesquelles un devis peut être sollicité.
Le coût indiqué pour les frais de transport correspond, pour la France à des tarifs « Colissimo proposé par la Poste majoré des frais d'emballage.
Une facture précisant les coûts de transport, est établie par le Vendeur et remise au Client lors de la livraison des Produits.<br></p>


<h4>4. Modalités de paiement</h4>
<p>Afin d’assurer la sécurité des paiements, le Vendeur utilise le kit de paiement sécurisé E-transaction du Crédit Agricole avec la fonction 3D SECURE.<br>
Le règlement de la commande peut se réaliser par :
- Carte Bancaire (Carte Bleue, Visa, Eurocard-Mastercard)<br>
- Virement bancaire<br>
- Compte PayPal<br>
Le Client doit absolument régler la totalité des Produits commandés en Euros (€).
Les paiements effectués par le Client ne seront considérés comme définitifs qu'après encaissement effectif des sommes dues, par le Vendeur.</p>



<h4>5. Garanties</h4>
<p>Les Produits proposés à la vente sur le Site sont conformes à la réglementation en vigueur en France et ont des performances compatibles avec des usages non professionnels.<br>
Les Produits bénéficient de plein droit et sans paiement complémentaire, conformément aux dispositions légales, indépendamment du droit de rétractation :<br>
- de la garantie légale de conformité, pour les Produits apparemment défectueux, abîmés ou endommagés ou ne correspondant pas à la commande,<br>
- de la garantie légale contre les vices cachés provenant d'un défaut de matière, de conception ou de fabrication affectant les produits livrés et les rendant impropres à l'utilisation,<br>
dans les conditions et selon les modalités visées ci-après et en Annexe des CGV (Garantie de Conformité / Garantie des Vices Cachés). Il est rappelé que si le Client est dans un cas justifiant la mise en œuvre de la garantie légale de conformité, il - bénéficie d'un délai de deux ans à compter de la délivrance du bien pour agir à l'encontre du Vendeur ;<br>
- peut choisir entre la réparation ou le remplacement du Produit commandé, sous réserve des conditions de coût prévues par l'article L 217-9 du Code de la consommation ;<br>
- est dispensé de rapporter la preuve de l'existence du défaut de conformité du Produit durant les six mois suivant la délivrance du Produit. Ce délai est porté à 24 mois à compter du 18 mars 2016, sauf pour les biens d'occasion.<br>
Si le Client met en œuvre la garantie contre les défauts cachés du Produit conformément à l'article 1641 du Code Civil, il peut choisir entre la résolution de la vente et une réduction du prix de vente conformément à 1644 du Code Civil.<br>
Le Vendeur remboursera, remplacera ou fera réparer les Produits non conformes ou défectueux.
Les frais d'envoi seront remboursés sur la base du tarif facturé et les frais de retour seront remboursés sur présentation des justificatifs.<br>
Les remboursements des Produits non conformes ou défectueux seront effectués dans les meilleurs délais et au plus tard dans les trente jours suivant la constatation par le Vendeur du défaut de conformité ou du vice caché.<br>
Le remboursement s'effectuera par crédit sur le compte bancaire du Client ou par chèque bancaire adressé au Client.
La responsabilité du Vendeur ne saurait être engagée dans les cas suivants :<br>

- en cas de mauvaise utilisation, d'utilisation à des fins professionnelles, négligence ou défaut d'entretien de la part du Client, comme en cas d'usure normale du Produit, d'accident ou de force majeure.<br>
La garantie du Vendeur est, en tout état de cause, limitée au remplacement ou au remboursement des Produits non conformes ou affectés d'un vice.<br>


<h4>6. Droit de rétractation</h4>
<p>Conformément aux dispositions légales en vigueur, le Client consommateur dispose d'un délai de quatorze jours à compter de la réception du Produit pour exercer son droit de rétractation auprès du Vendeur, sans avoir à justifier de motifs ni à payer de pénalité, à fin d'échange ou de remboursement, à condition que les Produits soient retournés dans leur emballage d'origine et en parfait état dans les 14 jours suivant la notification au Vendeur de la décision de rétractation du Client.
Tout retour doit être signalé au préalable auprès du Vendeur par email à contact@littleshoes.fr
Les Produits retournés doivent être dans leur état d'origine et complets (emballage, accessoires, notice...) permettant leur remise sur le marché à l'état neuf, accompagnés de la facture d'achat.
Les Produits endommagés, salis ou incomplets ne sont pas repris.<br>
Le droit de rétractation peut être exercé :<br>
- Soit en ligne, à l'aide du formulaire de rétractation disponible ci-après, auquel cas un accusé de réception sera immédiatement communiqué au Client par le Vendeur,<br>
- Soit par tout autre moyen écrit dénué d'ambiguïté et exprimant la volonté de se rétracter.
En cas d'exercice du droit de rétractation dans le délai susvisé, seul le prix du ou des Produits achetés et les frais de livraison sont remboursés ; les frais de retour restant à la charge du Client.
Le retour du produit peut également être effectué, dans le délai susvisé, directement et gratuitement, dans l’une des boutiques du Vendeur.<br>
L'échange (sous réserve de disponibilité) ou le remboursement sera effectué dans un délai maximum de 14 jours à compter de la réception, par le Vendeur, des Produits retournés par le Client dans les conditions prévues au présent article.
A noter que les frais de retour sont à la charge du client à partir du deuxième retour ou échange.<br></p>


<h4>7. Résolution pour inexécution d'une obligation suffisamment grave</h4>
<p>Une partie peut en cas d'inexécution suffisamment grave de l'une quelconque des obligations incombant à l'autre partie, notifier par lettre recommandée avec demande d'avis de réception à la partie défaillante, la résolution de plein droit du Contrat, 7 jours après l’envoi d'une mise en demeure de s'exécuter restée infructueuse, et ce en application des dispositions de l'article 1224 du Code civil.</p>


<h4>8. Force majeure</h4>
<p>Ni le Vendeur, ni le Client ne saurait être tenu responsable de toute inexécution qui aurait pour origine un cas de force majeure incluant notamment, sans que cela soit limitatif, les cas de : guerre, d'émeute, d'insurrection, d'interruption de transport, de problème d'importation ou d'exportation, de grève, de pénurie, d'incendie, de tremblement de terre, de tempête, d'inondation.
</p>


<h4>9. Propriété intellectuelle</h4>
<p>Les contenus du Site (photographies, présentations, études, dessins, modèles, prototypes, etc.) sont la propriété du Vendeur et de ses partenaires, et sont protégés par les lois françaises et internationales relatives à la propriété intellectuelle. Toute reproduction totale ou partielle de tout ou partie de ces contenus est strictement interdite et est susceptible de constituer un délit de contrefaçon.
</p>


<h4>1O. Données personnelles</h4>
<p>En application de la loi 78-17 du 6 janvier 1978, il est rappelé que les données nominatives qui sont demandées au Client sont nécessaires au traitement de sa commande et à l'établissement des factures.
Le traitement des informations communiquées par l'intermédiaire du Site a fait l'objet d'une déclaration auprès de la CNIL, et à compter du mois de mai 2018, le Vendeur s’engage à respecter la nouvelle réglementation issue du règlement européen de la protection des données personnelles.
Le Client est invité à mettre à jour auprès du Vendeur les données le concernant qui sont inexactes, incomplètes ou obsolètes.
Les données du Client sont conservées par le Vendeur pendant la durée de conservation nécessaire à la gestion de la relation commerciale à l'exception de celles nécessaires à l'établissement de la preuve d'un droit ou d'un contrat qui peuvent être archivées conformément aux dispositions du Code de commerce relatives à la durée de conservation des livres et documents créés à l'occasion d'activités commerciales et du Code de la consommation relatives à la conservation des contrats conclus par voie électronique, à savoir 10 ans.
Le Vendeur conserve également les données du Client à des fins de prospection commerciale, pendant une durée de 3 ans à compter de la fin de la relation commerciale.<br>

Partage des données personnelles avec des tiers :<br>
Les données personnelles des Clients peuvent être partagées avec des tiers dans les cas suivants :<br>
- quand le Client utilise les services de paiement figurant sur le Site ; pour la mise en œuvre de ces services, le Vendeur est en relation avec des sociétés bancaires et financières tierces avec lesquelles il a passé des contrats ;<br>
- lorsque le Client publie, dans les zones de commentaires libres du Site, des informations accessibles au public ;<br>
- quand le Client autorise le site web d’un tiers à accéder à ses données ;<br>
- quand le Site recourt aux services de prestataires pour fournir l’assistance Clients, la publicité et les services de paiement. Ces prestataires disposent d’un accès limité aux données du Client, dans le cadre de l’exécution de ces prestations, et ont une obligation contractuelle de les utiliser en conformité avec les dispositions de la réglementation applicable en matière de protection des données à caractère personnel ;<br>
- si la loi l’exige, le Vendeur peut effectuer la transmission des données pour donner suite à des réclamations présentées contre le Site et se conformer aux procédures administratives et judiciaires ;<br>
- si le Vendeur est impliqué dans une opération de fusion, acquisition, cession d’actifs ou procédure de redressement judiciaire, il pourra être amené à céder ou partager tout ou partie de ses actifs, y compris les données à caractère personnel. Dans ce cas, les Clients seraient informés, avant que les données à caractère personnel ne soient transférées à une tierce partie.<br>

Sécurité et confidentialité :<br>
Le Vendeur met en œuvre des mesures organisationnelles, techniques, logicielles et physiques en matière de sécurité du numérique pour protéger les données personnelles des Clients contre les altérations, destructions et accès non autorisés. Toutefois, il est à signaler qu’Internet n’est pas un environnement complètement sécurisé et le Vendeur ne peut pas garantir la sécurité de la transmission ou du stockage des informations sur Internet.

Mise en œuvre des droits des Clients :<br>
En application de la réglementation applicable aux données à caractère personnel, les Clients peuvent mettre à jour les données qui les concernent en se connectant à leur compte et en configurant les paramètres de ce compte. Ils peuvent supprimer leur compte.
Ils disposent également des droits suivants, en écrivant à l’adresse électronique contact@littleshoes.fr:<br>
- droit d’accès, pour connaître les données personnelles les concernant. Dans ce cas, avant la mise en œuvre de ce droit, le Vendeur peut demander une preuve d’identité afin d’en vérifier l’exactitude ;<br>
- mise à jour des informations les concernant ;<br>
- suppression de leurs données à caractère personnel,<br>
Ce conformément et dans les conditions définies par les lois applicables en matière de protection des données.


<h4>11. Langue et droit applicable</h4>
<p>Les CGV sont rédigées en français.
Le Contrat est soumis au droit français. 
</p>

<h4>12. Convention de preuve</h4>
<p>Le Client reconnaît et accepte que les informations contenues dans les systèmes informatiques du Vendeur et de ses partenaires ont la même force probante que des documents papiers, s’agissant de la passation de la commande par le Client, de son paiement et de l’acceptation des CGV. L’archivage des commandes et des factures est effectué sur un support fiable et durable pouvant être produit à titre de preuve.
</p>


<h4>13. Règlement des litiges</h4>
<p>Tout litige auquel le Contrat pourrait donner lieu, concernant tant sa validité, son interprétation, son exécution, sa résiliation, leurs conséquences et leurs suites, et qui n'aurait pu être résolu amiablement entre le Vendeur et le Client, sera soumis aux tribunaux compétents dans les conditions de droit commun.
Le Client est informé qu'il peut en tout état de cause recourir à une médiation conventionnelle, notamment auprès de la Commission de la médiation de la consommation (C. consom. art. L 612-1) ou auprès des instances de médiation sectorielles existantes, et dont les références figurent sur le Site ou, à tout mode alternatif de règlement des différends (conciliation, par exemple) en cas de contestation.
</p>


<h5>Annexes</h5>

<p>Annexe 1 - Formulaire de rétractation<br>
Annexe 2 - Dispositions relatives aux garanties légales 
</p>





{% endblock %}