{% extends "base.html.twig" %}
 {% block body %}
 	<div class="faq">
 		<h2>Les questions les plus fréquentes</h2>
 	</div>
 
{# <div class="form-floating"> 
  <select class="form-select form-select-sm"" id="floatingSelect" aria-label=".form-select-lg example">
    <option selected>Ma question concerne</option>
    <option value="1">Les chaussures Homme</option>
    <option value="2">Les chaussures Femme</option>
    <option value="3">Les chaussures Bébé</option>
    <option value="3">La livraison</option>
    <option value="3">Les commandes</option>
    <option value="3">La gestion de mon compte et la sécurité</option>
	<option value="3">Nos services</option>

  </select> 
  <label for="floatingSelect">Works with selects</label>
  
</div>
<li class="background_white &nbsp; color_brown_M &nbsp; ">
#}
{% endblock %} 