{% extends "base.html.twig" %}
 {% block body %} 
 	<div class="container-fluid" style="margin-top:150px;">
		<img src="{{ asset('images/GuidePointure.png') }}" width="1000" height="auto"/>
	</div>
 	

 {% endblock %}