{% extends "base.html.twig" %}
{% block body %}
  <div class="container-fluid" style="margin-top:150px;"><h3>Je crée mon compte client</h3></div>
<form>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Email</label>
      <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">Mot de passe</label>
      <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
    </div>
  </div>
  <div class="form-group">
    <label for="inputAddress">Adresse</label>
    <input type="text" class="form-control" id="inputAddress" placeholder="25 rue de Paris">
  </div>
  <div class="form-group">
    <label for="inputAddress2">Complément d'adresse</label>
    <input type="text" class="form-control" id="inputAddress2" placeholder="Appartement, étage,...">
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputCity">Ville</label>
      <input type="text" class="form-control" id="inputCity">
    </div>
    <div class="form-group col-md-4">
        </div>
    <div class="form-group col-md-2">
      <label for="inputZip">Code Postal</label>
      <input type="text" class="form-control" id="inputZip">
    </div>
  </div>
  <div class="form-group">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="gridCheck">
      <label class="form-check-label" for="gridCheck">
        <h6>En cochant cette case, je reconnais avoir pris connaissance des Conditions Générales d'Utilisation du site ainsi que sa Politique de Confidentialité et je les accepte. </h6>
      </label>
    </div>
  </div>
  <br>
  <button type="submit" class="btn btn-primary"><h4>Inscription</h4></button>
  <hr>
  <hr>
  {% endblock %}
  {# 
	<div class="container-fluid" style="margin-top:150px;"><h2 class="text-primary">J'ai un compte client</h2></div> 
<form>
  <div class="form-group row">
    <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
    <div class="col-sm-10">
      <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="email@example.com">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputPassword" class="col-sm-2 col-form-label">Mot de passe</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="inputPassword" placeholder="Password">
    </div>
  </div>
  <hr>
  <hr>
  <button type="submit" class="btn btn-primary"><h5>Connexion</h5></button>
  <hr>
  <hr>
</form>
<div class="container-fluid" style="margin-top:150px;"><h2 class="text-primary">J'ai perdu mon mot de passe</h2></div>
<form>
  <div class="form-group row">
    <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
    <div class="col-sm-10">
      <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="email@example.com">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputPassword" class="col-sm-2 col-form-label">Ancien mot de passe</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="inputPassword" placeholder="Password">
    </div>
  <div class="form-group row">
    <label for="inputPassword" class="col-sm-2 col-form-label">Nouveau mot de passe</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="inputPassword" placeholder="Password">
    </div>
    <div class="col-sm-10">
      <hr>
      <hr>
    <button type="submit" class="btn btn-primary"><h5>Validation</h5></button>
    <hr>
    <hr>
    </div>
  </form>
<div class="container-fluid" style="margin-top:150px;"><h2>Je crée mon compte client</h2></div>
<form>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Email</label>
      <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">Password</label>
      <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
    </div>
  </div>
  <div class="form-group">
    <label for="inputAddress">Address</label>
    <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
  </div>
  <div class="form-group">
    <label for="inputAddress2">Address 2</label>
    <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputCity">Ville</label>
      <input type="text" class="form-control" id="inputCity">
    </div>
    <div class="form-group col-md-4">
        </div>
    <div class="form-group col-md-2">
      <label for="inputZip">Code Postal</label>
      <input type="text" class="form-control" id="inputZip">
    </div>
  </div>
  <div class="form-group">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="gridCheck">
      <label class="form-check-label" for="gridCheck">
        <h4>Bienvenue chez Little Shoes</h4>
      </label>
    </div>
  </div>
  <button type="submit" class="btn btn-primary"><h5>Inscription</h5></button>
  <hr>
  <hr>
</form>
 #}



