{% extends "base.html.twig" %}
 {% block body %}
 <div class="container-fluid" style="margin-top:150px;"><h6 class="text-primary">Mentions légales</h6></div>
 	<div class="mentions">
		<p>Le site Internet www.LittleShoes.fr est édité par Little Shoes
		dont le siège social est situé 50 bd Einstein 44300 NANTES, France,</p>
		<p>SIREN : 529 129 604 RCS de Nantes</p>
		<p>Capital social : 20 000€.</p>
		<p>N° TVA intracommunautaire : FR20529129604</p>
		<p>Contact : contact@littleshoes.fr </p>
		<p>Directrice de Publication : A.Yerly</p>

		<p>HEBERGEMENT : HEROKU </p>
		<p> REALISATION Agence AY</p>
		La responsable du site est A.YERLY contact : ay@gmail.com
		200 avenue du Général Leclerc - 44000 Nantes -
		<p>S.A.R.L. au capital de 500 000 € </p>
		<p>Siret 331 533 182 00083 - RCS Nantes </p>
		<p>www.agenceay.fr</p>

	</div>
</div>
{% endblock %} 